*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    background-color:#fffaf8;
}

/* ..............navbar.................. */

.navbar-container{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color:#d4bba7;
    border-bottom: 1px solid #fffaf8;
}

.navlogo-section{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
}
.navlogo-section img{
    width: 200px;
}
.navbar-container label {
    display: none;

}
#checking{
    display: none;
}
.navbar-container label {
    display: none;
}

.nav-items {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: color 0.3s ease;
}

.nav-items a{
    font-size: 1.2rem;
    font-family: "Jost", sans-serif;
    color:#fffaf8;
    text-decoration: none;
}
.nav-items button{
    width: 250px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color:#b2a9a7;
    border: 2px solid #fffaf8;
    color:#fffaf8 ;
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
}




/* ............banner............ */


.banner{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: end;
    padding-left: 10%;
    padding-bottom: 2%;
    background-color:#d4bba7;

}
.banner h2{
    font-family: "Prata", serif;
    font-size:3.5rem;
    color: #fff1e9;
}



/* .................about................ */

.about-container{
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
 }
 .about-container img{
     width: 40%;
     height: 600px;
     border-top-left-radius: 260px;
     border-top-right-radius: 260px;
     align-self: self-end;
 }
 .about-cont{
     width: 50%;
     height: 100%;
     justify-content: center;
     display: flex;
     flex-direction: column;
     gap: 20px;
     /* background-color: aqua; */
 }
 .about-cont h2{
     font-family: "Prata", serif;
     font-size:2.2rem;
     color: #b2a9a7;
 }
 .about-cont span{
    font-size: 2.8rem;
 }
 .about-cont p{
     font-family: "Jost", sans-serif;
     font-size: 1.2rem;
     color: #b2a9a7;
     padding-right: 8%;
 }



.about-story{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-image: url("images/leaf low opacity.png");
    background-size:cover;
    background-position:center; 
    background-repeat: no-repeat;
}

 /* .................about................ */

.ourstory-container{
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    /* background-image: url("");
    background-size:cover;
    background-position:right; 
    background-repeat: no-repeat; */
    /* background-color: aqua; */
 }
 .ourstory-container img{
     width: 40%;
     height: 600px;
     border-top-left-radius: 260px;
     border-top-right-radius: 260px;
 }
 .story-cont{
     width: 50%;
     height: 100%;
     justify-content:center;
     display: flex;
     flex-direction: column;
     gap: 20px;
     align-self: self-end;
     /* background-color: aqua; */
 }
 .story-cont h2{
     font-family: "Prata", serif;
     font-size:2.2rem;
     color: #b2a9a7;
 }
 .story-cont span{
    font-size: 2.8rem;
 }
 .story-cont p{
     font-family: "Jost", sans-serif;
     font-size: 1.2rem;
     color: #b2a9a7;
     padding-right: 8%;
 }

 /* .........mission..................... */

 .mission-container{
    width: 100%;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    background-color: #fff1e9;
 }
 .mission{
    width: 100%;
    padding: 2%;
    height: 250px;
    background-color: #e5cab9;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 2px 2px 5px rgba(233, 220, 205, 0.6), -2px -2px 5px rgba(233, 220, 205, 0.6);
 }
.mission img{
    width: 100px;
}
.mission p{
   font-size: 1rem;
   font-family: "Jost", sans-serif;
   color: #fffaf8;
   text-align: center;
}
#goal{
    height: 350px;  
}
#goal span{
    font-weight: 800;
}
#misvision{
    margin-top: 10%;
    text-align: center;
}

 /* .................about................ */

 .team-container{
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-image: url("");
    background-size:cover;
    background-position:right; 
    background-repeat: no-repeat; */
    /* background-color: aqua; */
 }
 .team-container img{
     width: 40%;
     height: 600px;
 }
 .team-cont{
     width: 50%;
     height: 100%;
     justify-content:center;
     display: flex;
     flex-direction: column;
     gap: 20px;
     /* background-color: aqua; */
 }
 .team-cont h2{
     font-family: "Prata", serif;
     font-size:2.5rem;
     color: #d4bba7;
 }
 .team-cont p{
     font-family: "Jost", sans-serif;
     font-size: 1.2rem;
     color: #d4bba7;
     padding-right: 8%;
 }



 /* ...................Philapakshi................ */

 .Philosophy-container{
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9dccd;
 }
 .Philosophy-container h2{
    font-family: "Prata", serif;
    font-size:2.3rem;
    color: #b2a9a7;
 }
 .Philosophy-container span{
    font-size: 2.8rem;
 }

 .Philosophys{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 3%;
 }
 .philop{
    width: 100%;
    padding: 3%;
    display: flex;
    align-items: center;
   justify-content: center;
    background-color: #fffaf8;
    border-radius: 50px;
 }

 .philop h3{
    font-family: "Jost", sans-serif;
    font-size:1.2rem;
    color: #d4bba7;
    font-weight: 400;
 }
 .philop h3 span{
    font-size: 1.3rem;
    font-weight: 500;
 }





 /* ...........footer.............. */



.footer{
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    background-color: #b2a9a7;
}
.footer-cont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer img{
    width: 200px;
    border-right: 2px solid #fffaf8;
}
.footer-links{
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fffaf8;
}
.footer-links a{
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Jost", sans-serif;
    color: #b2a9a7;
}

.footer-social{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.footer-social img{
    width: 40px;
    border: none;
}
.footer-bottom{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffaf8;
    font-size: 1rem;
    font-family: "Jost", sans-serif;
    color: #b2a9a7;
}





